@media screen and (max-width: 991) {
  .nav-toogle {
       display: block;
       margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
    .intro h2 {
      font-size: 32px;
    }
  
    .intro button {
      font-size: 16px;
      padding: 10px 30px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .intro h2 {
      font-size: 26px;
    }
  
    .intro button {
      font-size: 14px;
      padding: 8px 25px;
    }
  
    .intro {
      max-width: 90%;
    }
  }

  @media screen and (width < 768px) {

    .home {
        padding-top: 10px;
    }

    header {
        padding-top: 5px;
        padding-bottom: 10px;
        height: 70px;
    }
    
    .banner button {
        width: 90%;
    }

    .banner img {
        width: 100%;

    }

    .banner .intro {
        max-width: 300%;
        text-align: center;
    }

    .banner {
        flex-direction: column;
    }

    .pros-cons-container {
        flex-direction: row;
        width: 50%;
    }

  }
  
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  header.expanded .nav-links {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }
}


